<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
    <h1>
        <ul>
            <li th:each="user:${users}">
                <span th:text="${user.name}"></span>:
                <span th:text="${user.age}"></span>
            </li>
        </ul>
    </h1>
    <script th:inline="javascript">
        const users=/*[[${users}]]*/[];

        const user=users[0];
        console.log(users.length);

        for (let i in users) {
            console.log(users[i]);
        }
    </script>
    <!--<h1>-->
        <!--欢迎您:<span th:text="${user.name.toUpperCase().substring(4)}"></span>-->
        <!--<br>-->
        <!--<span th:text="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"></span>-->
    <!--</h1>-->
    <!--<span th:text="'<font color=\'red\'>hello</font>'"></span><br>-->
    <!--<span th:utext="'<font color=\'red\'>hello</font>'"></span>-->

    <!--<h1>-->
        <!--<span th:text="100*200+200>0"></span>-->
    <!--</h1>-->
</body>
</html>